<!-- doctors/templates/doctors/doctor_appointments.html -->
{% extends "base_1.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Doctor Appointments</h2>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Patient</th>
                    <th scope="col">Nurse</th>
                    <th scope="col">Date</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="appointments-table-body">
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.patient.username }}</td>
                    <td>{{ appointment.nurse.username }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.reason }}</td>
                    <td>{{ appointment.status }}</td>
                    <td>
                        <a href="{% url 'doctor:update_appointment_status' appointment.pk 'completed' %}" class="btn btn-success">Complete</a>
                        <a href="{% url 'doctor:update_appointment_status' appointment.pk 'canceled' %}" class="btn btn-danger">Cancel</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No appointments found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
