{% extends 'base.html' %}
{% block title %}
    {% if user.is_authenticated %}
        { user.username }'s Profile
    {% else %}
        Feane
    {% endif %}
{% endblock %}



{% block content %}
<p>User is authenticated: {{ user.is_authenticated }}</p>
<p>Username: {{ user.username }}</p>


<body>
    <div class="container mt-5">
        <div class="card">
            <img src="{{ users.profiles.profile_picture.url }}" class="card-img-top" alt="Profile Picture">
            <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">
                    <strong>Bio:</strong> {{ user.profile.bio }}<br>
                    <strong>Location:</strong> {{ user.profile.location }}<br>
                    <strong>Birth Date:</strong> {{ user.profile.birth_date|date:"F j, Y" }}
                </p>
                <a href="{% url 'profiles:profile_edit' %}" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>

   
</body>
</html>
{% endblock content %}